.addDeck {
  height: 100%;
  // padding: 3.2rem;
}

.addDeck__OptionsContainer {
  width: 100%;
}

.addDeck__OptionsContainer__Option {
  width: 90%;
}

.addDeck__Title {
  // flex-grow: 1;
  padding-top: 2.4rem;
}

.addDeck__Selects {
  // flex-grow: 2;
  // padding-bottom: 35rem;
  padding-bottom: 1.6rem;
  // height: 43.7 rem;
}

.addDeck__Button {
  // flex-grow: 1;
  padding: 1.6rem 0;
}