.deck {
  width: 16rem;
}

.deck__Image {
  position: relative;
}

.deck__Image__DeckCase {
  height: 16rem;
  width: 16rem;
}

.deck__Image__GameIcon {
  height: 45%;
  width: 45%;
  position: absolute;
  top: 50%;
  left: 0;
}

.deck__Name {
  text-align: center;
}